<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>FolioLog</title>
    <link rel="stylesheet" href="{% static 'folio/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/8a436ae004.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Foliolog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/">About
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/folio">Portfolios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/folio/techinfo">TechStack</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/folio/search">Search</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    <div class="container flex-column min-vh-100">
        <!-- Main Portfolio Content -->
        {% block main_area %}
        {% endblock %}
    </div>
    <!--footer-->
    <footer class="py-3 bg-light mt-auto">
        <div class="container">
            <p class="m-2 text-center">Copyright &copy; 2023 alex</p>
        </div>
    </footer>

</body>
</html>