{% extends 'folio/base.html' %}
{% block main_area %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-6 mt-5">
                    <h2>Hello, I'm Alex</h2><hr><br>
                    <p> Web Developer & Security</p>
                    <h4>Contact</h4>
                    <p>
                        <i class="fa-brands fa-github fa-fade" style="color: #000000;"></i>
                        github:<a href="https://github.com/Jhsysng">https://github.com/Jhsysng</a><br>
                        <i class="fa-solid fa-code fa-fade" style="color: #000000;"></i>
                        blog:<a href="https://www.tistory.com/">https://www.tistory.com/</a><br>
                        <i class="fa-brands fa-instagram fa-fade" style="color: #000000;"></i>
                        instagram:
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}