{% extends 'folio/base.html' %}
{% block main_area %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-6 mt-5">
                    <h2>Hello, I'm Alex</h2><hr><br>
                    <p> 보안하는 개발자</p>
                    <p> 보안 역량을 갖춘 개발자로 성장하려고 합니다.</p>
                    <br>
                    <h4>Contact</h4>
                    <p>
                        <i class="fa-brands fa-github fa-fade" style="color: #000000;"></i>
                        github:<a href="https://github.com/Jhsysng">https://github.com/Jhsysng</a><br>
                        <i class="fa-solid fa-code fa-fade" style="color: #000000;"></i>
                        blog:<a href="https://codedatasotrage.tistory.com">https://codedatasotrage.tistory.com</a><br>
                        <i class="fa-brands fa-instagram fa-fade" style="color: #000000;"></i>
                        instagram:
                    </p>

                    <h4>활동</h4>
                    <li>
                        <ul>2023.05~ : 동국대학교 FarmSystem (보안)</ul>
                        <ul>2019.03~ : 동국대학교 컴퓨터공학과 학부생</ul>
                    </li>
                    github status<br>
                    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=Jhsysng&layout=compact">
                    <hr>
                    <h4>Currently on</h4>
                    <ul>
                        <li>AI모델보안</li>
                        <li>JejuGPT</li>
                    </ul>
                    <h4>관심분야</h4>
                    <ul>
                        <li>Web : SpringBoot, Django</li>
                        <li>Cloud : Docker, GCP</li>
                        <li>ETC : Security</li>
                    </ul>

                    <h4>프로젝트</h4>
                    <li>
                        <ul>포트폴리오 블로그</ul>
                        <ul>팀 협업 도구</ul>
                    </li>
                </div>
            </div>
        </div>
    </article>
{% endblock %}