{% extends 'folio/base.html' %}

{% block main_area %}
    <!-- title -->
    <h1 class="mt-5">{{ portfolio.title }}</h1>
    <!-- post Date -->
    <p class="text-muted">{{ portfolio.created_at|date:'Y-m-d H:i' }}</p>
    <hr>
    <!-- portfolio data-->
    <div class="row">
        <div class="col-md-7">
            <p class="card-img">Link : <a href="{{ portfolio.code_url }}">{{ portfolio.code_url }}</a></p>
            <p>Developer : {{ portfolio.user }}</p>
            <p>Duration : {{ portfolio.duration }}</p>
            <p>Language :
            {% for lt in portfolio.lang_tag.all %}
                <span class="badge bg-light">
                    <img src="{{ lt.image.url }}" height="13" alt="{{ lt.name }} logo">
                    {{ lt.name }}</span>
            {% endfor %}</p>
            <p>
            TechStack :
            {% for tt in portfolio.tech_tag.all %}
                <span class="badge bg-light">
                    <img src="{{ tt.image.url }}" height="13" alt="{{ tt.name }} logo">
                    {{ tt.name }}
                </span>
            {% endfor %}
            </p>
            <!--<p>Env : no service</p>-->
        </div>
        <div class="col-md-5">
            <img class="card-img-top" src="{{ portfolio.image.url }}" alt="sample img">
        </div>
    </div>
    <hr>
    <!-- content -->
    <!--<h3> 목표 </h3>
    <ul>
        <li>준비중</li>
    </ul>-->
    <h3 class="mt-3">주요 기능 및 설명</h3>
    <p>{{ portfolio.get_content|safe }}</p>
    <hr>
    <!-- Updated date -->
    <p>last edit date : {{ portfolio.updated_at|date:'Y-m-d H:i' }}</p>
{% endblock %}