<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>포트폴리오 글보기</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'folio/bootstrap/bootstrap.min.css' %}" media="screen">
</head>
<body>
<h1>Portfolio List</h1>
{% for p in portfolio_list %}
    <div class="card mb-4">
        <div class="card-body">
            <a href="{{ p.get_url }}"><h2 class="card-title">{{ p.title }}</h2></a>
            <p class="card-text">{{ p.content }}</p>
            <!-- tag -->
            <!-- develop du -->
        </div>
    </div>
{% endfor %}
</body>
</html>
