{% extends 'folio/base.html' %}

{% block main_area %}
    <div class="col-lg-9">
        <!-- title -->
        <h1 class="mt-5">{{ portfolio.title }}</h1>
        <!-- post Date -->
        <p class="lead">{{ portfolio.created_at }}</p>
        <hr>
        <!-- portfolio data-->
        <div class="row">
            <div class="col-md-6">
                data
            </div>
            <div class="col-md-6">
                <img class="card-img-top" src="{{ portfolio.image.url }}" alt="sample img">
            </div>
        </div>
        <hr>
        <!-- content -->
        <p>{{ portfolio.content }}</p>
        <hr>
        <!-- Updated date -->
        <p>{{ portfolio.updated_at }}</p>
    </div>
{% endblock %}