{% extends 'folio/base.html' %}

{% block main_area %}
    <div class="col-lg-9">
        <!-- title -->
        <h1 class="mt-5">{{ portfolio.title }}</h1>
        <!-- post Date -->
        <p class="lead">{{ portfolio.created_at }}</p>
        <hr>
        <!-- portfolio data-->
        <div class="row">
            <div class="col-md-6">
                <p class="card-text">Code URL : <a href="{{ portfolio.code_url }}">{{ portfolio.code_url }}</a></p>
            </div>
            <div class="col-md-6">
                <img class="card-img-top" src="{{ portfolio.image.url }}" alt="sample img">
            </div>
        </div>
        <hr>
        <!-- content -->
        <h3 class="card-text">동기</h3>
        <h3 class="card-text">주요 기능 및 설명</h3>
        <p>{{ portfolio.content }}</p>
        <hr>
        <!-- Updated date -->
        <p>{{ portfolio.updated_at }}</p>
    </div>
{% endblock %}