{% extends 'folio/base.html' %}
{% block main_area %}
    <script>
        function search(){
            let searchq=document.getElementById('search').value.trim()
            location.href="/folio/search/"+searchq+"/";
        }
        document.getElementById('search').addEventListener('keyup',function(event){
            if(event.key === 'Enter'){
                search();
            }
        });
    </script>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="input-group mb-3 my-5 p-5">
            <input type="text" id="search" class="form-control" placeholder="Search tag, portfolio" aria-label="검색어"
                   aria-describedby="button-addon2" name="searchbar" onChange="search();" autofocus>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
        {% for lt in lang_tags %}
            {% if forloop.first %}
                <h3>Language</h3>
            {% endif %}
            <span class="badge bg-light">
                <img src="{{ lt.image.url }}" height="13" alt="{{ lt.name }} logo">{{ lt.name }}</span>
        {% endfor %}
        <br>
        {% for tt in tech_tags %}
            {% if forloop.first %}
                <h3>Tech</h3>
            {% endif %}
            <span class="badge bg-light"><img src="{{ tt.image.url }}" height="13" alt="{{ tt.name }} logo">{{ tt.name }}</span>
        {% endfor %}
        <br>
        {% for p in portfolios %}
            {% if forloop.first %}
                <h3>Portfolio</h3>
            {% endif %}
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{{ p.get_absolute_url }}" style="text-decoration:none"><h2 class="card-title">[{{ p.pk }}]{{ p.title }}</h2></a>
                    <p class="card-text">{{ p.get_content|truncatewords_html:3|safe}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}